@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-conthrax: "Conthrax", sans-serif;
  --color-primary-400: #172b4d;
  --color-secondary-400: #6d798e;
  --color-notwhite-400: #f6fffc;
  --color-notblack-400: #121f33;
  --color-accent-400: #d8fa02;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conthrax";
  src: url("/fonts/Conthrax-SemiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;

  background-color: #f6fffc;
  /* min-height: 100vh; */
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff; 
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
